amqp==5.3.1 ; python_version >= "3.11" and python_version < "3.13"
asgiref==3.9.1 ; python_version >= "3.11" and python_version < "3.13"
billiard==4.2.1 ; python_version >= "3.11" and python_version < "3.13"
celery==5.5.3 ; python_version >= "3.11" and python_version < "3.13"
click-didyoumean==0.3.1 ; python_version >= "3.11" and python_version < "3.13"
click-plugins==1.1.1.2 ; python_version >= "3.11" and python_version < "3.13"
click-repl==0.3.0 ; python_version >= "3.11" and python_version < "3.13"
click==8.2.1 ; python_version >= "3.11" and python_version < "3.13"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "3.13" and platform_system == "Windows"
cron-descriptor==1.4.5 ; python_version >= "3.11" and python_version < "3.13"
django-celery-beat==2.8.1 ; python_version >= "3.11" and python_version < "3.13"
django-timezone-field==7.1 ; python_version >= "3.11" and python_version < "3.13"
django==5.2.5 ; python_version >= "3.11" and python_version < "3.13"
djangorestframework==3.16.1 ; python_version >= "3.11" and python_version < "3.13"
gunicorn==23.0.0 ; python_version >= "3.11" and python_version < "3.13"
kombu==5.5.4 ; python_version >= "3.11" and python_version < "3.13"
packaging==25.0 ; python_version >= "3.11" and python_version < "3.13"
prompt-toolkit==3.0.51 ; python_version >= "3.11" and python_version < "3.13"
psycopg2-binary==2.9.10 ; python_version >= "3.11" and python_version < "3.13"
python-crontab==3.3.0 ; python_version >= "3.11" and python_version < "3.13"
python-dateutil==2.9.0.post0 ; python_version >= "3.11" and python_version < "3.13"
python-dotenv==1.1.1 ; python_version >= "3.11" and python_version < "3.13"
six==1.17.0 ; python_version >= "3.11" and python_version < "3.13"
snowflake-id==1.0.2 ; python_version >= "3.11" and python_version < "3.13"
sqlparse==0.5.3 ; python_version >= "3.11" and python_version < "3.13"
tzdata==2025.2 ; python_version >= "3.11" and python_version < "3.13"
vine==5.1.0 ; python_version >= "3.11" and python_version < "3.13"
wcwidth==0.2.13 ; python_version >= "3.11" and python_version < "3.13"
